.scatola {
  background-image: url("imgù.jpg");
  border-radius: 10px;
  height: 100%;

  box-shadow: 0 0 25px #000000;
  transition: 1s;
}

.scatola:hover {
  box-shadow: 0 0 300px #0f0f0f;
}

h1,h3 {
  color: rgb(231, 231, 231);
}

label {
  color: rgb(204, 204, 204);
}

.form-control {
  background-color: rgb(183, 187, 194);
  border-radius: 0.9px;
}
.bodyy {
  background-image: url("a.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.scatolaa {
  margin-top: 1%;
  margin: auto;
  text-align: center;
  border: 1px, solid white;

}

.tablee {
  background: none;
  border: 1px, solid white;
  margin: auto;
  text-align: center;
}
.inserimento {
  background-color: rgba(250, 250, 250, 0.344);
  border: none;
  border-radius: 5px;
}
.botto {
  background-color: darkgrey;
  border: none;
  border-radius: 5px;
}

.login {
  background-color: rgba(255, 255, 255, 0.131);
  padding-top: 2%;
  padding-bottom: 2%;
  margin: auto;

  width: 60%;
  box-shadow: 0 0 3px rgba(black, 0.1);
  margin: 0 auto;
  border-radius: 5px;
  
  box-shadow: 0 0 25px #000000;
  transition: 1s;
}

.login:hover {
  box-shadow: 0 0 300px #0f0f0f;
}

.megga{
  padding-top: 6%;
}

.scat{
  background-image: url("imgù.jpg");
  background-size:cover;
  border-radius: 10px;
  box-shadow: 0 0 25px #000000;
  transition: 1s;
  color: rgb(231, 231, 231);
  width: 100%;
}

.scat:hover {
  box-shadow: 0 0 300px #0f0f0f;
}

.formm{
  text-align: left;
}

.varieclassi{
  font-size: larger;
  padding-bottom: 17%;
}

.tit{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 500%;
    padding-bottom: 5%;
  
}

.tess{
  color: rgb(138, 138, 138);

}